Package: @@NAME@@
Version: @@VERSION@@
Section: devel
Depends: @@DEPENDS@@
Recommends: @@RECOMMENDS@@
Priority: optional
Architecture: @@ARCHITECTURE@@
Maintainer: pulkitjain-org
Homepage: https://github.com/pulkitjain-org/vscode-gemini-cli
Installed-Size: @@INSTALLEDSIZE@@
Provides: visual-studio-@@NAME@@
Conflicts: visual-studio-@@NAME@@
Replaces: visual-studio-@@NAME@@
Description: Code editor with the Gemini agent built in.
 GeminiCode is a code editor built on Code - OSS, with the Gemini CLI agent built in.
 See https://github.com/pulkitjain-org/vscode-gemini-cli for installation instructions.
